/* Album.css */
.album-grid {
  padding: 16px;
  justify-content: center;
}
/* Add a gap between carousel slides */
.custom-carousel-item {
  padding-right: 10px; /* Adjust this value to set the desired gap */
  /* height: 20px; */
}
#banner_carousel.inner.animate > li.slide {
  margin: 5px; /* Adjust this value for the desired space */
}
.music-card {
  display: flex;
  flex-direction: column;
}

.music-card .MuiCardMedia-root {
  flex-grow: 1;
}

/* palyIcon css */

/* Album.css */
.play-icon-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  opacity: 0;
  /* transition: opacity 0.1s ease-in-out, background-color 0.1s ease-in-out; */
  border-radius: 50%;
}

.play-icon-container:hover {
  opacity: 1;
}

.play-icon {
  font-size: 2em;
}

@media (max-width: 768px) {
  .album-grid {
    justify-content: flex-start;
  }
}
