.model-open {
  text-align: left;
  color: #fff;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  /* vertical-align: baseline; */
  display: block;
  z-index: 999;
}
.inner {
  text-align: left;
  color: #fff;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  z-index: 11;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 750px;
  height: auto;
  min-height: 540px;
  max-height: 95vh;
  border-radius: 6px;
  align-items: unset;
  justify-content: unset;
  background-color: #333;
}
.close {
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  position: absolute;
  right: 20px;
  top: 20px;
}
.userInputarea {
  color: #fff;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 47%;
  max-width: unset;
  padding: 20px 30px;
  justify-content: center;
  flex-shrink: 0;
}
.loginHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin-bottom: 35px;
}

.row {
  margin-top: 25px;
}
.title {
  color: hsla(0, 0%, 100%, 0.9);
  font-size: 22px;
  font-family: proximanova-bold-webfont, Arial, sans-serif;
  margin-bottom: 8px;
  display: block;
}
small {
  font-size: 12px;
  font-family: proximanova-semibold-webfont, Arial, sans-serif;
  display: block;
  padding: 0 10px;
  line-height: 1.6;
  color: #8e8e93;
}
.row_b {
  width: 100%;
  margin-bottom: 40px;
}
.loginInput {
  position: relative;
  margin-bottom: 20px;
  padding: 3px 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}
.loginInput input {
  background-color: transparent;
  color: #8e8e93;
  font-size: 15px;
  width: 100%;
  padding: 3px 0;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
}
.custom-btn {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 30px;
  transition: all 0.2s;
  color: #a8a8a8;
  background-color: #dedede;
  cursor: pointer;
}

.col_poster {
  color: #fff;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 30px 45px;
  width: 53%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(https://a10.gaanacdn.com/gn_img/images/login_bg_v1_1621430866.jpg);
  display: flex !important;
}

@media (max-width: 968px) {
  .col_poster {
    display: none; /* Hide it on screens with a width of 768px or smaller */
  }
}
